__pycache__/
*.py[cod]

*.directory

.ipynb_checkpoints/
.spyderproject/
.spyproject/
*.code-workspace

build/
dist/
eggs/
*.egg-info/
*.egg
wheels/

*Verknüpfung.lnk

Datenblätter/
Examples/
FW_CircuitPython/
venvCP/
src/_archive_/

## Wifi credentials
creds.py
secrets.py
settings.toml
