# circup install -r requirements.text

adafruit_esp32spi
adafruit_connection_manager
adafruit_ntp
adafruit_matrixportal
adafruit_display_text
adafruit_bitmap_font
# adafruit_imageload
# adafruit_debouncer
