[Desktop Entry]
Icon=text-html
Name=Moon Phase Clock for Adafruit Matrix Portal | Adafruit Learning System
Type=Link
URL[$e]=https://learn.adafruit.com/moon-phase-clock-for-adafruit-matrixportal/install-code-and-graphics
